*{
    
    
    font-family:  'Poppins','Courier New', Courier, monospace;
    
}
 .title1{
    color: black;
    font-weight: 800;
text-shadow: 4px 4px 4px 10px red;
}
 h1{ color: aqua;
    text-transform: uppercase;
    text-shadow: 1px 1px  aqua;
    
}
/*----head---*/
.subtitle{
     font-weight: 500px;
    font-weight: 600;
    font-size: x-large;
}
.headsection{
    border-radius: 5px;
    align-items: center;
    background: rgb(194, 141, 43);
    margin-bottom: 0px;
    
    padding-left: 100px;
   
}
.time{
    font-size: x-large;
    font-weight: 700;
    text-align: right;
    padding-right: 200px;
    color:aqua;
}
.instruction{
    color: black;
    
    text-align: center;
    margin-bottom: 0px;
    margin-left: 0px;
    font-style: italic;
    text-shadow: 1px 1px black;
    opacity: 0.7;
}
hr{
    background: linear-gradient(to right, black green);
    
    height: 2px;
    width: 400px;
    padding-left: 100px;
    margin-top: 0px;
}
.header2{


}
/*_----exam section----*/
section{
    background: antiquewhite;
    padding-left: 50px;
    border-radius: 20px;
    margin: 0px 30px 10px 30px;
    box-shadow: 5px 5px 5px 5px grey;
}
section:hover{
    background: grey;
    padding-left: 50px;
    border-radius: 20px;
    margin: 0px 30px 10px 30px;
    box-shadow: 5px 5px 5px 5px grey;
    transition: 1sec;
}
footer div h2{
    color: aliceblue;
    padding-left: 350px;
}
.submit{
    color: black;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid red;
    width: 200px;
    height: 50px;
    margin-left: 350px;
}
.examsect{
    padding-left: 100px;
}
.answers:hover{
    color: grey;
    background-color: red;
}
.answers{
    color: black;
    height: 50px;
    width: 200px;
    font-size: x-large;
    font-weight: 700;
    background: green;
    border-radius: 10px;
    margin-left: 450px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px black;

}
@media (max-width:800px) {
    .answers{
        color: black;
        height: 50px;
        width: 200px;
        font-size: large;
        font-weight: 700;
        background: green;
        border-radius: 10px;
        margin-left: 100px;
        margin-bottom: 10px;
        box-shadow: 5px 5px 10px black;
        margin-top: 10px;
    
    }
    .examsect{
        padding-left: 50px;
    }
    hr{
        background: linear-gradient(to right, black green);
        
        height: 2px;
        width: 200px;
        padding-left: 100px;
        margin-top: 0px;
    }

    
}